<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Hotel Matrix</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    {{#each this.NavbarMenu as |menu|}}
      {{!-- template-lint-disable no-link-to-tagname --}}
      {{!-- template-lint-disable no-unknown-arguments-for-builtin-components --}}
      <li class="mt-2 nav-item">
        <LinkTo @route="{{menu.route}}" @currentWhen='{{menu.currentWhen}}' class="nav-link text-white">
          <span class="m-2">{{svg-jar menu.icon width="20px" height="20px"}}</span>
          {{menu.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</div>