<div class="home d-flex justify-content-between mt-5 gap-5">
  <div class="home-left d-flex flex-column justify-content-center gap-3">
    <div class="blob-text">
      <p>More than faster</p>
      <img class="rounded-4" src="png/delivery.png" alt="delivery">
    </div>
    <p class="heading-text">Be the Fastest in Delivering <span>Your Food</span></p>
    <p>We are now accepting all inquiries for full buyouts for private events and holiday parties, any day of the week, day or night. Our restaurant can accommodate up to 45 guests and potentially more.</p>
    <button class="order-now" type="button">Order now</button>
  </div>
  <div class="home-right">
    <div class="banner">
      <img src="png/bg.png" class="bg-image" alt="background">
      <img class="burger" src="png/burger-2.png" alt="burger">
      <div class="short-banner delivery">
        <img src="png/alarm.png" alt="alarm">
        <span>Fast Delivery</span>
      </div> 
      <div class="short-banner hot">
        <img src="png/hot.png" alt="alarm">
        <span>Hot Food</span>
      </div> 
      <div class="short-banner geo">
        <img src="png/geo.png" alt="alarm">
        <span>Gps Tracking</span>
      </div> 
      <div class="short-banner offer">
        <img src="png/offer.png" alt="alarm">
        <span>High Offer</span>
      </div> 
      <img class="french pos" src="png/french.png" alt="french-fries">
      <img class="french coke" src="png/coke.png" alt="french-fries">
    </div>
  </div>
</div>