<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="product-logo">
    FoodiePro
  </a>
  <div class="right-nav d-flex align">
    <a href="#">Menu</a>
    <a {{action "toggleFlyout"}} href="#">Orders</a>
    <a href="#">Orders</a>
    
    {{#if this.login}}
      <button class="btn btn-outline-dark" type="button">Login</button>
      <button  class="btn btn-outline-dark" type="button">Sign Up</button>
    {{/if}}
  </div>
</nav>
{{#if this.isOpen}}
  <Flyout isOpen={{this.isOpen}}></Flyout>
{{/if}}