<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#">
    <img src="logo.png" width="30" height="30" class="d-inline-block align-top" alt="product-logo">
    FoodiePro
  </a>
  <div class="right-nav d-flex">
    <button class="btn btn-outline-dark" type="button">Login</button>
    <button  class="btn btn-outline-dark" type="button">Sign Up</button>
  </div>
</nav>