{{page-title "Hotel Matrix"}}
{{#if this.canShowSidebar}}
  <div class="sidebar">
    <Sidebar></Sidebar>
  </div>
{{/if}}
<EmberNotify />
<div class="container {{if this.canShowSidebar  'main-container' 'side'}}">
  {{outlet}}
</div>

