{{page-title "Unauthorized"}}
<div class="unathorized">
  <h2 class="text-danger">
    <img src="png/alert.png" style="width: 30px; height: 30px">
    Unauthorized
  </h2>
  <p>You may not authorized to access this page</p>
</div>
